<label class="screen-reader-text" for="media-attachment-date-filters">Filter by aspect ratio</label>
<select id="media-attachment-date-filters" name="media-attachment-date-filters">
  <option value="">All aspect ratios</option>
  {% for ratio, name in ratios %}
    <option value="{{ ratio }}"
      {% if current == ratio %} selected="selected" {% endif %}
    >{{ name }}</option>
  {% endfor %}
</select>
