<label class="screen-reader-text" for="media-attachment-ratio-filters">Filter by aspect ratio</label>
<select id="media-attachment-ratio-filters" name="media-attachment-ratio-filters">
  <option value="all">All aspect ratios</option>
  {% for ratio, name in ratios %}
    <option value="{{ ratio }}"
      {% if current == ratio %} selected="selected" {% endif %}
    >{{ name }}</option>
  {% endfor %}
</select>
